.job-city-state{
    color: #7F7F7F;
    font-weight: normal;
}

.profile-search-job-button{
    border:none;
    border:solid 2px #1861BF;
    border-radius: 4px;
    border-spacing: 100px;
    padding: 7px;
    text-align: center;
    background: #1861BF;
    font-size: 15px;
    color: white;  
    margin-top: 40px;
    margin-left: 10px;
}

.search-table{
    width: 350px;
}

.company-find-job-button{
    width: 120px;
    height: 40px;
    font-size: 16px;
    padding-left: 0px;
    margin-top: 0px;
    color: white;
    background-color: #1861BF;
    border: none;
    border-radius: 1px;
}

.joblisting-date-company-date {
    text-align: right;
}

.company-job-heart-icon{
    font-size: 22px;
    color: #13aa41;
}

.job-postings-table {
    width: 100%;
}

.job-postings-table td {
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
}

.job-postings-logo{
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
}

.job-postings-table div{
    display: block;
}

.job-profile-row-two-inside{
    padding: 8px;
}

.job-profile-row-two-column2{
    height: 300px;
    width: 300px;
    background-color: white;
    margin: 20px 0;
}

.company-apply-job-nonselect{
    width: 115px;
    border:none;
    border:solid 2px #1861BF;
    border-radius: 0px;
    border-spacing: 100px;
    padding: 8px;
    text-align: center;
    background: white;
    font-size: 15px;
    color: #1861BF;   
}

.company-apply-job-nonselect:hover{
    background: #1861BF;
    font-size: 15px;
    color: white;  
}

.company-apply-job-select{
  width: 125px;
  border:none;
  border:solid 2px #1861BF;
  border-radius: 0px;
  border-spacing: 100px;
  padding: 8px;
  text-align: center;
  background: #1861BF;
  font-size: 15px;
  color: white;  
  margin-left: 30px;
}

.file-upload div {
    display: inline-block;
    
  }
  
  .file-upload-input {
    position: relative;
    margin: -32px 0 0 39px;
    z-index: -1;
  }
  
  .file-upload-input:focus {
    outline: none;
  }
  
  
  .file-upload-icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .file-upload-icon:before {
    content: "\f0ee";
  }
  
  .file-upload-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    min-width: 130px;
    background: white;
  }

  .pic-upload-button{
    /* border:none; */
    border:solid 2px #1861BF;
    border-radius: 2px;
    border-spacing: 100px;
    font-size: 17px;
    font-weight: bold;
    color: #1861BF;
    background-color: white;
    padding: 0px;
    height: 40px;
    width: 160px;
  }
  
  .status-button:hover, .pic-upload-button:hover, .event-ppl-button:hover{
    background-color: #1861BF;
    color: white;
  }

  .file-upload-modal{
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .files-dropzone{
    width: 500px;
    height: 300px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
  }

  .file-upload-button{
    margin: auto;
    margin: 30px auto 0;
    text-align: center;
  }

  /* LIST */
/* ================== */

.files-dropzone-list {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border: 1px dashed #D3D3D3;
  cursor: pointer;
}

.files-buttons {
  border-top: 1px solid #D3D3D3;
  cursor: pointer;
}
.files-button-submit {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid #D3D3D3;
}
.files-button-submit:before {
  content: "Submit"
}
.files-button-clear {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 50%;
  box-sizing: border-box;
}
.files-button-clear:before {
  content: "Clear"
}
.files-list {
  width: 300px;
}
.files-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.files-list li:last-child {
  border: none;
}
.files-list-item {
  height: 60px;
  padding: 10px 0px 10px 10px;
  margin-top: 5px;
}
.files-list-item-content {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  width: calc(100% - 130px);
}
.files-list-item-content-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.files-list-item-content-item-1 {
  font-size: 15px;
  line-height: 30px;
}
.files-list-item-content-item-2 {
  font-size: 16px;
  line-height: 20px;
}
.files-list-item-preview {
  height: 60px;
  width: 60px;
  float: left;
}
.files-list-item-preview-image {
  height: 100%;
  width: 100%;
}
.files-list-item-preview-extension {
  text-align: center;
  line-height: 60px;
  color: #FFF;
  background-color: #D3D3D3;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.files-list-item-remove {
  height: 60px;
  width: 60px;
  float: right;
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDEyLjgzbC0yLjgzLTIuODMtMTEuMTcgMTEuMTctMTEuMTctMTEuMTctMi44MyAyLjgzIDExLjE3IDExLjE3LTExLjE3IDExLjE3IDIuODMgMi44MyAxMS4xNy0xMS4xNyAxMS4xNyAxMS4xNyAyLjgzLTIuODMtMTEuMTctMTEuMTd6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+) no-repeat center center;
  background-size: 30px 30px;
}

.files-list-item-remove-image {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-right: 10px;
  float: right;
}

/* GALLERY */
/* ================== */

.files-dropzone-gallery {
  padding: 10px;
  border: 1px dashed #D3D3D3;
  min-height: 300px;
  width: 500px;
}
.files-gallery-item {
  height: 80px;
  margin: 5px;
}

.files-dropzone-active {
  border: 1px solid lightgreen;
  color: lightgreen;
}
