body {
    background-color: #EAEAEA;
}

.overview-all {
    font-family: Lato, sans-serif;
}

.profile-row-one {
    height: 250px;
    width: 970px;
    background-color: white;
    position: relative;
    margin: 20px auto 0px;
}

.profile-row-two {
    width: 650px;
    margin-right: 20px;
}

.profile-row-two-row1 {
    background-color: white;
    margin: 20px auto;
}

.profile-row-two-column2 {
    height: 300px;
    width: 300px;
    background-color: white;
    margin: 20px 0;
}

.profile-row-two-row2 {
    background-color: white;
}

.overview-logo {
    width: 100px;
    height: 100px;
    border: 1px solid #dedede;
    z-index: 1;
    position: absolute;
    left: 30px;
    top: 40px;
}

.company-banner-blur {
    width: 970px;
    height: 80px;
    -webkit-filter: blur(4px);
}

.profile-row-one-table {
    font-size: 18px;
    position: absolute;
    bottom: 0px;
}

.profile-counts {
    margin-left: 5px;
    font-size: 20px;
    color: #404040;
    text-align: center;
}

.profile-title {
    margin-top: 10px;
    margin-left: 15px;
    color: #1861BF;
    margin-bottom: 10px;
}

.vl {
    border-left: 1px solid #999999;
    height: 50px;
}

.profile-row-one-table td {
    border-right: 2px solid #eaeaea;
}

.profile-row-two-inside,
.profile-row-three-inside {
    padding: 40px;
}

.profile-row-two-inside .overview-column-one,
.profile-row-two-inside .overview-column-two {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    width: 275px;
}

.profile-row-two .profile-row-two-row1,
.profile-row-two .profile-row-two-column2 {
    display: inline-block;
    vertical-align: top;
    justify-content: center;
    text-decoration: none;
}

.profile-row-two .profile-row-two-column2 {
    margin-left: 20px;
}

.profile-row-two-row2,
.profile-row-two-column2 {
    display: inline-block;
    vertical-align: top;
    justify-content: center;
}

.overview-description {
    margin-top: 20px;
    font-size: 17px;
    padding-right: 15px;
}

.overview-hr {
    border: 1px solid lightgray;
    /* max-width: 550px; */
    width: 550px;
    margin-left: 0px;
    margin-top: 20px;
}

.overview-all {
    margin: 0px auto;
}

.overview-company-name {
    position: absolute;
    left: 150px;
    top: 100px;
    font-size: 27px;
}

.side-by-side-overview {
    margin: 0px auto;
    width: 970px;
}

.side-by-side-overview div {
    display: inline-block;
    vertical-align: top;
}

.side-by-side-overview .profile-row-two,
.side-by-side-overview .profile-row-two-column2 {
    display: inline-block;
    vertical-align: top;
}

.profile-row-two-column2 {
    margin-top: 20px auto;
}

.overview-table td {
    padding: 6px;
}

.overview-table td:nth-child(odd) {
    font-size: 15px;
    color: #505863;
    font-weight: bold;
}

.overview-table td:nth-child(even) {
    font-size: 15px;
    color: #404040;
}

.overview-mission {
    margin-top: 10px;
}

.overview-mission-title,
.overview-description,
.overview-mission {
    color: #404040;
}

.overview-mission {
    margin-top: 20px;
}

.overview-mission-title {
    font-weight: bold;
}

.overview-charts td:nth-child(odd) {
    width: 75px;
}

.overview-charts {
    margin-top: 20px;
}

.overview-locations {
    color: #1861BF;
    margin-left: 30px;
    margin-top: 30px;
}

.profile-row-two-column2-row1 {
    background-color: white;
    margin: 20px auto;
    width: 300px;
}

.profile-row-two-column2-row2 {
    background-color: white;
    margin: 0px auto;
    width: 300px;
}

.all-locations {
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 25%;
    padding-top: 10px;
    color: #1861BF;
}

.overview-logo-jobs {
    width: 50px;
    height: 50px;
    border: 2px solid #F1F2F2;
}

.overview-job-title {
    font-size: 15px;
    color: #1861BF;
}

.overview-job-location {
    font-size: 15px;
    color: #404040;
}

.overview-jobs-like {
    padding-left: 10%;
}

.overview-jobs-like td {
    padding-top: 10px;
}

.overview-review-headline {
    font-size: 20px;
    color: #1861BF;
    font-weight: bold;
}

.overview-reviews-table-all {
    color: #505863;
    font-family: 'Lato', sans-serif;
    /* border-bottom: 1px solid lightgray; */
    padding: 20px;
}

.overview-reviews-pros-cons {
    margin-top: 5px;
}

.overview-reviews-pros-cons-title {
    font-weight: bold;
    margin-top: 15px;
}

.overview-review-star-ratings {
    color: #0caa41
}

.overview-see-all-reviews {
    padding-left: 225px;
    padding-top: 20px;
    color: #1861BF;
}

.overview-review-date {
    color: #858C94;
}

.overview-reviews-table-all td {
    padding: 0px 5px;
}

.overview-reviews-table-inside {
    width: 450px;
}

.overview-social-media-logos {
    background-color: #cccccc;
    border-radius: 50px;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
}

.overview-social-media-logos svg{
    padding-top: 8px;
}

.overview-helpful-button{
    width: 70px;
    border: none;
    border: solid 2px #1861BF;
    border-radius: 5px;
    border-spacing: 100px;
    padding: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    font-size: 15px;
    font-weight: bold;
    color: #1861BF;
    margin-left: 290px;
}

.profile-titles-selected{
    border-bottom:5px solid #00A1DF;
}

.overview-profile-add-button{
    width: 100px;
    border:none;
    border:solid 2px #1861BF;
    border-radius: 0px;
    border-spacing: 100px;
    padding: 10px;
    text-align: center;
    background: #1861BF;
    font-size: 18px;
    color: white;    
}

.profile-add-button-position{
    position: absolute;
    right: 14px;
    top: 185px;
}